.button {
  margin: 25px auto 15px auto;
  width: 120px;
  height: 30px;
  border-radius: 0;

}

#btnContainer {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  position: relative;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  box-shadow: 3px 3px 5px #888888;
}

.remove {
  float: right;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0;
  border: none;
  width: 25px;
  height: 25px;
  color: #fff;
  background-color: rgb(167, 0, 0);
}
